<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700&display=swap" rel="stylesheet">

    @RenderSection("Links", false)

    <!-- Mine CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <title>House</title>
</head>

<body>
    <nav id="menu">
        <a href="" id="close-menu">
            <i class="fas fa-times"></i>
        </a>
        <ul>
            <li class="active">
                <a asp-controller="about" asp-action="index">
                    about
                </a>
            </li>
            <li>
                <a asp-controller="whatwedo" asp-action="index">
                    what we do
                </a>
            </li>
            <li>
                <a asp-controller="projects" asp-action="index">
                    projects
                </a>
            </li>
            <li>
                <a asp-controller="contact" asp-action="index">
                    contacts
                </a>
            </li>
        </ul>
    </nav>
    <header>
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-12 mb-3 mb-lg-0 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                    <a href="" id="open-menu" class="mr-5">
                        <i class="fas fa-bars"></i>
                    </a>

                    <a asp-controller="home" asp-action="index" style="font-size: 0em;">
                        <img src="~/img/logo.svg" alt="" class="logo">
                    </a>
                </div>
                <div class="col-12 col-lg-6 text-lg-right text-center">
                    <p class="number">
                        <a href="tel:18002345678">1 800 234 5678</a>
                    </p>
                    <p class="adress">
                        178 West 27th Street, Suite 527 New York NY 10012
                    </p>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="logo mb-5">
                        <img src="~/img/footer_logo.svg" class="img-fluid">
                    </div>
                    <a href="tel:18002345678" class="number">1 800 234 5678</a>
                    <p class="adress mt-3 mb-5">178 West 27th Street, Suite 527 New York NY 10012</p>
                    <a href="mailto:admin@demolink.com" class="mail">admin@demolink.com</a>
                    <p class="copyright mt-5 pt-5">
                        © 2019 HOUSE. All Rights Reserved. Theme Design by <a href="mailto:elmarni@code.edu.az" class="me">Elmar</a>.
                    </p>
                </div>
                <div class="col-md-6 menu text-right mt-5 mt-md-0">
                    <ul class="d-flex justify-content-between d-md-block">
                        <li>

                            <a asp-controller="home" asp-action="index">home</a>
                        </li>
                        <li>
                            <a asp-controller="about" asp-action="index">about</a>
                        </li>
                        <li>
                            <a asp-controller="whatwedo" asp-action="index">what we do</a>
                        </li>
                        <li>
                            <a asp-controller="projects" asp-action="index">projects</a>
                        </li>
                        <li>
                            <a asp-controller="contact" asp-action="index">contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script src="https://kit.fontawesome.com/73bdb97465.js" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
    <!-- Mine js -->
    <script src="~/js/main.js"></script>
</body>

</html>